#messenger {
	position: fixed;
	right: 5px;
	top: 100px;
	width: 300px;
	height: 600px;
	border: 1px solid #AAA;
	box-shadow: 0 0 10px #444;
}

#m_titlePanel {
	width: 292px;
	border: 1px solid #AAA;
	margin: 3px;
	box-shadow: 0 0 15px #AAA;
}

#m_title {
	text-align: center;
}

#m_messagePanel {
	width: 292px;
	border: 1px solid #AAA;
	margin: 3px;
	box-shadow: 0 0 15px #AAA;
	height: 385px;
	overflow: hidden;
}

.m_listComment {
  margin-left: 10px;
  margin-top: 6px;
  list-style-type: none;
}

#m_messagePanel {
	position: relative;
}

#m_commentBox {
	position: absolute;
	bottom: 0;
	height: 149px;
	width: 292px;
	border: 1px solid #AAA;
	margin: 3px;
	box-shadow: 0 0 15px #AAA;
}

#m_refresh {
	width: 284px;
	height: 43px;
	margin: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

#m_comment {
	float: left;
	margin: 3px;
	width: 200px;
	height: 92px;
	box-shadow: 0 0 15px #AAA;
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

#m_comment:focus {
	border: none;	
}

#m_commentSubmit {
	width: 78px;
	height: 43px;
	margin: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

#m_info {
	width: 78px;
	height: 43px;
	margin: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

#m_infoPanel {
	display: none;
	position: fixed;
	top: 542px;
	right: 5px;
	width: 350px;
	height: 150px;
	background: #FFF;
	border: 1px solid #AAA;
	box-shadow: 0 0 15px #444;
}

#m_infoBox {
	margin: 3px;
	width: 342px;
	height: 142px;
	border: 1px solid #AAA;
	box-shadow: 0 0 25px #444;
}

#m_infoNameLabel {
	margin-left: 5px;
}

#m_infoName {
	height: 50px;
	margin-bottom: 5px;
}

#m_infoConfirm {
	width: 162px;
	height: 43px;
	margin: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

#m_infoCancel {
	width: 162px;
	height: 43px;
	margin: 3px;
	line-height: normal;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}

@media (max-width: 767px) {
	#messenger {
		display: none;
	}

	#m_infoPanel {
		display: none;
	}
}